---
layout: presentation
title: Lima Post Campaign Report
class: lima-post-campaign-report
---

<div class="unsupported-content">
  <div class="unsupported-content__table">
    <div class="unsupported-content__wrap row--padding">
      <h1 class="row">{{page.title}}</h1>
      <div class="row">
        {% include pdf-download-btn.html %}
      </div>
      <p class="row">Sorry, this website doesn't support this browser. <a href="http://outdatedbrowser.com/en">Updating your browser</a> may help.</p>
    </div>
  </div>
</div>

<div class="menu__wrap">
  <div class="menu">
    <div class="icon icon--menu js-menu-toggle"></div>
    <div class="menu__panel">
      <div class="icon icon--close js-menu-toggle"></div>
      <ul class="fullpage-menu js-fullpage-menu"></ul>
      <div class="menu__panel-bottom">
        {% include pdf-download-btn.html %}
      </div>
    </div>
  </div>
</div>

<div class="page-content__wrap">
  <div class="fullpage page-content">

    <!-- Title section -->
    <div class="section title" data-section-link="title-page" data-section-title="Lima Post Campaign Report">
      <div class="title__wrap">
        <div class="logo-row logo-row--middle">
          <div class="logo-row__item">
            <img class="logo--british-airways" src="img/logo/british-airways-white.png" alt="British Airways logo" >
          </div>
          <div class="logo-row__item">
            <img class="logo--carat" src="img/logo/carat-white.png" alt="Carat logo" >
          </div>
        </div>
        <div class="row">
          <h1>{{page.title}}</h1>
          <hr>
          <h2>2016</h2>
        </div>
      </div>
      <div class="tab-logo tab-logo--bottom-right">
        <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
      </div>
    </div>


    <!-- Campaign Overview -->
    <div class="section" data-section-link="campaign-overview" data-section-title="Campaign Overview" style="background-image: url('img/bg/overview.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Campaign Overview</h2>
            <p class="heading-spacing">Phase 2 focused on a mainstream audience by positioning Peru as an accessible destination; a place where you can eat well, immerse yourself in the diverse culture, and explore the fascinating topography. We wanted to make consumers aware of a new, direct route to the capital Lima with British Airways.</p>
            <p>Part of the campaign consisted of pulling together local experts to get their recommendations and top, insider tips on Peru, in conjunction with beautiful 360° imagery.</p>
            <ol>
              <li>Nine themed pages, featuring curated and diverse content on Peru</li>
              <li>Eight 360° images</li>
              <li>Five experts (advocates) from the world of photography, gastronomy, and social media to help create credible and exclusive content</li>
              <li>One social media Instagram takeover featuring landscape and adventure photographer Jacob Moon, who has 356k Instagram followers</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Highlights -->
    <div class="section" data-section-link="highlights" data-section-title="Highlights" style="background-image: url('img/bg/highlights.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Highlights</h2>
            <ol>
              <li>Email performed very well, with the open and click through rate surpassing the average benchmark: 28.03% OR & 1.66% CTR</li>
              <li>Competition page generated 13,212 entries. This is 12 times higher than the Lima Phase 1 campaign which received 7,444 visits & 1,256 entries over six weeks</li>
              <li>Strong social media presence across the two weeks – entire activity had over one million impressions. Highest two posts received a reach of 371,765 & 181,432</li>
              <li>The site received 58,383 unique views</li>
              <li>We sent 2,225 clicks from the Hub through to British Airways flights booking page</li>
              <li>All nine Instagram takeover posts became our best performing posts in the week of the 31st October</li>
              <li>360° images received 13,536 clicks in total. Paraglide Miraflores, on the overview and adventure page, received the most clicks at 7,857</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Learnings -->
    <div class="section" data-section-link="learnings" data-section-title="Learnings" style="background-image: url('img/bg/learnings.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Learnings</h2>
            <ol>
              <li>The Hub generated over 58k unique views – this is under our target of 65k but still a firm result for a two week campaign. This was achieved by high social media activity and various platforms driving to the Hub page. For future campaigns the duration should be longer than two weeks; this will enable more time for our optimizations to produce higher results</li>
              <li>Given the focus on driving traffic to the Hub over such a short time period, the CTR was slightly diluted, however refreshed display creatives helped here</li>
              <li>Spacing out the posts would have enabled even higher interactions on social media and maximised engagement</li>
              <li>Having tested different subject lines, the second was the best performing as it mentioned the competition. It delivered 47.84% OR and 5.45% CTR, more than double the benchmarks</li>
              <li>Both HPTOs generated an above average 2.55% CTR. The second HPTO skin performed the best as the tagline highlighted the competition element further, achieving 6,319 clicks</li>
              <li>We tested different titles for the top navigation and display taglines. Again, we found mention of the competition performed the best</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Quote from Holly Tuner -->
    <div class="section" data-section-link="a-word-from-our-uk-social-media-manager" data-section-title="A word from our UK Social Media Manager" style="background-image: url('img/bg/quote.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">A word from our UK Social Media Manager</h2>
            <blockquote>
              <p class="heading-spacing">I was really excited to have such a wide range of interesting content. Our fans loved the 360-degree images and our engagement on Facebook was impressively high throughout the campaign. The high quality of photography on the Instagram takeover also got a great response from fans.</p>
              <p class="author">Holly Turner – Content Editor UK Social Media Manager</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <!-- Hub -->
    <div class="section standard standard--fullpage" data-section-link="hub" data-section-title="Hub">

      <div class="slide" data-anchor="hub-totals">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Responsive Microsite</h3>

            <div class="row row--columns-7-5-gutters heading-spacing">

              <div class="row__column">
                <p>We have sent a total of 58,383 unique views to the Lima Hub. Will Pearson`s interview had the best dwell time, consumers spending an average of 2 minutes and 41 seconds on this page.</p>
                <p>The highest page views were:</p>
                <ul>
                  <li>Hub overview page (44,468)</li>
                  <li>Experts (8,582)</li>
                  <li>Natural Beauty (932)</li><br>
                </ul>
                <p>Total clicks to British Airways Lima flights booking page - 2,225, 3.30% CTR</p>
                <p>Benchmark dwell time 1 min 40 secs</p>
              </div>

              <div class="row__column stats">
                <p class="stats__title">Hub Totals</p>
                <p>Total Page views <span class="stats__stat">67,452</span></p>
                <p>Unique views <span class="stats__stat">58,383</span></p>
                <p>Dwell time <span class="stats__stat">1 min 41 secs</span></p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-content-01">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-overview.jpg" alt="">
                </div>
              </div>
              <p>Overview</p>
              <p>Page views: 44,468 | Unique: views 37,583 | Dwell: 1 min 41 secs</p>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-adventure.jpg" alt="">
                </div>
              </div>
              <p>Adventure</p>
              <p>Page views: 769 | Unique views: 665 | Dwell: 59 secs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-content-02">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-natural-beauty.jpg" alt="">
                </div>
              </div>
              <p>Natural Beauty </p>
              <p>Page views: 932 | Unique: views 800 | Dwell: 1 min 10 secs</p>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-food-and-drink.jpg" alt="">
                </div>
              </div>
              <p>Food & Drink</p>
              <p>Page views: 663 | Unique views: 594 | Dwell: 1 min 1 sec</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-content-03">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-culture.jpg" alt="">
                </div>
              </div>
              <p>Culture</p>
              <p>Page views: 910 | Unique: views 735 | Dwell: 1 min 6 secs</p>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-city-spotlight.jpg" alt="">
                </div>
              </div>
              <p>City Spotlight</p>
              <p>Page views: 384 | Unique views: 326 | Dwell: 1 min 03 secs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-content-04">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-experts.jpg" alt="">
                </div>
              </div>
              <p>Experts</p>
              <p>Page views: 8,582 | Unique: views 7,829 | Dwell: 2 mins 14 secs</p>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-travel.jpg" alt="">
                </div>
              </div>
              <p>Travel Tips</p>
              <p>Page views: 882 | Unique views: 804 | Dwell: 1 min 21 secs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-content-05">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-flights.jpg" alt="">
                </div>
              </div>
              <p>Flights</p>
              <p>Page views: 604 | Unique: views 552 | Dwell: 1 min 17 secs</p>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-will-pearson.jpg" alt="">
                </div>
              </div>
              <p>Will page</p>
              <p>Page views: 486 | Unique views: 458 | Dwell: 2 mins 14 secs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-360p">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>360° Content</h3>
          </div>

          <div class="align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-360p-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/hub-360p-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">360° Photography</p>
            <p>
              Total Clicks <span class="stats__stat">13,536</span>
              Dwell <span class="stats__stat">1 min 41 secs</span>
              Paraglide Miraflores <span class="stats__stat">7,857</span>
              Machu Picchu <span class="stats__stat">2,809</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="responsive">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Across Device Viewability</h3>
          </div>
          <p>All content was fully responsive across desktop, tablet and mobile</p>
          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad-iphone">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content">
                  <img src="img/content/hub-overview.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/hub-overview-tablet.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-small">
                <div class="device-frame__content">
                  <img src="img/content/hub-overview-mobile.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Desktop <span class="stats__stat">47.83%</span> Tablet <span class="stats__stat">26.22%</span> Mobile <span class="stats__stat">25.95%</span>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="competition">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Competition</h3>

            <div class="row row--columns-7-5-gutters heading-spacing">

              <div class="row__column">
                <p>The campaign had two prizes for the competition:</p>
                <ul>
                  <li>The main prize was to win a pair of return British Airways flights to Lima with an 11-course tasting menu at Central restaurant</li>
                  <li>The five runner-up prizes were lunch reservations for two at acclaimed restaurant LIMA Floral in Covent Garden</li>
                </ul>
              </div>

              <div class="row__column stats">
                <p class="stats__title">Competition Totals</p>
                <p>Entries <span class="stats__stat">13,212</span></p>
                <p>Dwell Time <span class="stats__stat">3 mins 49 secs</span></p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Email -->
    <div class="section" data-section-link="email" data-section-title="Email">
      <div class="standard--fullpage__content">
        <div class="row">
          <div class="row">
            <h2 class="standard__title">Email</h2>
          </div>
          <div class="row row--columns-6-6 heading-spacing">
            <div class="row__column">
              <p>The emails generated a 29.59 OR% & 1.72% CTR – these surpassed our average benchmarks.</p>
              <p>We sent over one million solus emails to the Secret Escapes database targeting those members who had previously booked and browsed long haul destinations, which directed traffic to the Hub.</p>
              <p>The email content was driving to the competition page and linked to the eight themed pages on the Lima Hub.</p>
              <div class="row row--columns-6-6 row--columns-vertical-align stats">
                <div class="row__column">
                  <p>Total Sends <span class="stats__stat">1,161,253</span></p>
                  <p>Opens <span class="stats__stat">343,583</span></p>
                  <p>Opens Rate <span class="stats__stat">29.59%</span></p>
                  <p>Total Clicks <span class="stats__stat">19,930</span></p>
                </div>
                <div class="row__column">
                  <p>CTR <span class="stats__stat">1.72%</span></p>
                  <p>CTOR <span class="stats__stat">5.63%</span></p>
                  <p>CTR Benchmark <span class="stats__stat">1%–2%</span></p>
                  <p>Open Rate Benchmark <span class="stats__stat">20-25%</span></p>
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/email.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Display -->
    <div class="section standard standard--fullpage" data-section-link="display-advertising" data-section-title="Display Advertising">

      <div class="slide" data-anchor="display-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Lima Hub</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>We ran two sets of traffic drivers across the Secret Escapes platform. The first set of co-branded traffic drivers were designed to drive people to the Lima Hub.</p>
                <p>Our strongest performing ad placement was the Billboard (970x250) which delivered a 0.83% CTR.</p>
                <p>Sky unit served the most impressions at 2,244,632.</p>
              </div>

              <div class="row__column stats">
                <p>Total Impressions <span class="stats__stat">3,010,480</span></p>
                <p>Total Clicks <span class="stats__stat">4,894</span></p>
                <p>CTR <span class="stats__stat">0.16%</span></p>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-160-600">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Lima Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content">
                  <img src="img/content/display-skyscraper.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">160x600</p>
              <p>Impressions <span class="stats__stat">2,244,632</span></p>
              <p>Clicks <span class="stats__stat">2,328</span></p>
              <p>CTR <span class="stats__stat">0.10%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-678-228">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Lima Hub</h3>
          </div>
          <div class="row row--columns-8-4">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-leaderboard.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">678x228</p>
              <p>Impressions <span class="stats__stat">551,557</span></p>
              <p>Clicks <span class="stats__stat">1,175</span></p>
              <p>CTR <span class="stats__stat">0.21%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-970-250">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Lima Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-billboard.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">970x250</p>
              <p>Impressions <span class="stats__stat">133,865</span></p>
              <p>Clicks <span class="stats__stat">1,110</span></p>
              <p>CTR <span class="stats__stat">0.83%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-300-250">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Lima Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-mpu.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">300x250</p>
              <p>Impressions <span class="stats__stat">80,426</span></p>
              <p>Clicks <span class="stats__stat">281</span></p>
              <p>CTR <span class="stats__stat">0.35%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Top Nav -->
    <div class="section" data-section-link="top-nav" data-section-title="Top Nav">
      <div class="standard--fullpage__content">
        <div class="row">
          <div class="row">
            <h2 class="standard__title">Top Nav</h2>
          </div>
          <div class="row row--columns-4-8 heading-spacing">
            <div class="row__column">
              <p>Top line navigation driving to the Lima Hub.</p>
              <div class="stats">
                <p>Impressions <span class="stats__stat">3,248,175</span></p>
                <p>Total Clicks <span class="stats__stat">2,553</span></p>
                <p>CTR <span class="stats__stat">0.08%</span></p>
                <p>CTR Benchmark <span class="stats__stat">0.6%</span></p>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content">
                  <img src="img/content/hpto-02.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- HPTO -->
    <div class="section" data-section-link="hpto" data-section-title="HPTO">
      <div class="standard--fullpage__content">
        <div class="row">
          <div class="row">
            <h2 class="standard__title">HPTO</h2>
          </div>
          <div class="row row--columns-4-8 heading-spacing">
            <div class="row__column">
              <p>We ran two HPTO creatives, to promote Lima as a destination to visit. HPTO surpassed the normal CTR benchmark at 2.55%, 1.55% above average.</p>
              <div class="stats">
                <p>Impressions <span class="stats__stat">400,405</span></p>
                <p>CTR <span class="stats__stat">2.55%</span></p>
                <p>BB Clicks <span class="stats__stat">8,318</span></p>
                <p>Total Clicks <span class="stats__stat">10,200</span></p>
                <p>CTR Benchmark <span class="stats__stat">1+%</span></p>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content">
                  <img src="img/content/hpto-01.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BBH Display Advertising -->
    <div class="section standard standard--fullpage" data-section-link="bbh-display-advertising" data-section-title="BBH Display Advertising">

      <div class="slide" data-anchor="display-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">BBH Display Advertising</h2>
            <h3>Driving to British Airways page</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>The second set of traffic drivers were driving directly to the Lima BA page. BBH display creatives delivered more than the targeted 500,000 impressions.</p>
              </div>

              <div class="row__column stats">
                <p>Total Impressions <span class="stats__stat">569,300</span></p>
                <p>Total Clicks <span class="stats__stat">484</span></p>
                <p>CTR <span class="stats__stat">0.09%</span></p>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-160-600">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">BBH Display Advertising</h2>
            <h3>Driving to British Airways page</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bbh-skyscraper.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">160x600</p>
              <p>Impressions <span class="stats__stat">537,662</span></p>
              <p>Clicks <span class="stats__stat">456</span></p>
              <p>CTR <span class="stats__stat">0.08%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-300-250">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">BBH Display Advertising</h2>
            <h3>Driving to British Airways page</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bbh-mpu.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">300x250</p>
              <p>Impressions <span class="stats__stat">31,638</span></p>
              <p>Clicks <span class="stats__stat">28</span></p>
              <p>CTR <span class="stats__stat">0.09%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Social Media -->
    <div class="section standard standard--fullpage" data-section-link="social-media" data-section-title="Social Media">

      <div class="slide" data-anchor="display-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Overview</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>We created eight Facebook posts which highlighted the 360° photography on the Hub and also featured extensive Peru imagery. All posts linked to the Hub.</p>
                <p>22 Social posts across Facebook, Instagram, twitter, and Pinterest.</p>
              </div>

              <div class="row__column stats">
                <p>Total Impressions <span class="stats__stat">1,073,318</span></p>
                <p>Facebook Impressions <span class="stats__stat">982,055</span></p>
                <p>Instagram Impressions <span class="stats__stat">75,056</span></p>
                <p>Twitter Impressions <span class="stats__stat">15,340</span></p>
                <p>Pinterest Impressions <span class="stats__stat">867</span></p>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="slide" data-anchor="facebook-01">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Facebook 360° images</h3>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content">
                  <img src="img/content/facebook-01.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content">
                  <img src="img/content/facebook-03.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="facebook-02">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Facebook Cover photo - Instagram takeover</h3>
          </div>
          <div class="row align-center">
            <div class="device-frame device-frame--macbook device-frame--macbook-large">
              <div class="device-frame__content">
                <img src="img/content/facebook-02.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="competition">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Competition Post</h3>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/competition-01.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/competition-02.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="twitter">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Twitter</h3>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content">
                  <img src="img/content/twitter-01.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/twitter-02.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="instagram">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Instagram Takeover</h3>
            <p class="heading-spacing">All nine Peru posts were our top performing posts in the past week.</p>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content">
                  <img src="img/content/instagram-takeover-01.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content">
                  <img src="img/content/instagram-takeover-02.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="instagram-posts">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Instagram Takeover Posts</h3>
          </div>
          <div class="row" style="height: 500px; overflow: hidden;" >
            <img src="img/content/instagram-posts.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="pinterest">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social Media</h2>
            <h3>Instagram Takeover On Pinterest Board</h3>
          </div>
          <div class="row align-center">
            <div class="device-frame device-frame--imac device-frame--imac-large">
              <div class="device-frame__content device-frame__content--scroll">
                <img src="img/content/pinterest.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Thank You Section -->
    <div class="section title" data-section-link="thank-you" data-section-title="Thank You" style="background-image: url('img/bg/thank-you.jpg');">
      <div class="title__wrap">
        <div class="logo-row logo-row--middle">
          <div class="logo-row__item">
            <img class="logo--british-airways" src="img/logo/british-airways-white.png" alt="British Airways logo" >
          </div>
          <div class="logo-row__item">
            <img class="logo--carat" src="img/logo/carat-white.png" alt="Carat logo" >
          </div>
        </div>
        <div class="row">
          <h1>Thank You</h1>
        </div>
        <div class="tab-logo tab-logo--bottom-right">
          <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
        </div>
      </div>
    </div>


  </div>
</div>